<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="style/main.css">
  <title>Document</title>
</head>
<body>
  <div class="main-container">
      <button class="right"><</button>
        <div class="img-wrapper">
          <img class="img_form_server" src=<%= allImages%> alt="images">
        </div>
      <button class="left">></button>
</div>
<script src="js/main.js"></script>
</body>
</html>